In [1]:
import pandas as pd 
import seaborn as sns
sns.set()

In [2]:
dataku = pd.read_csv('kapal_titanic.csv')

In [3]:
dataku.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN